.DS_Store
ModooPlayDemo_iOS/build
ModooPlayDemo_iOS/Pods
ModooPlayDemo_iOS/headerDoc
ModooPlayDemo_iOS/Products
ModooPlayDemo_iOS/Fmk
ModooPlayDemo_iOS/Podfile.lock
ModooPlayDemo_iOS/ModooPlayDemo_iOS.xcworkspace
ModooPlayDemo_iOS/ModooPlayDemo_iOS.xcodeproj/xcuserdata
ModooPlayDemo_iOS/ModooPlayDemo_iOS.xcodeproj/project.xcworkspace/xcuserdata

ModooPlayDemo_iOS/ModooPlayDemo_iOS.xcodeproj/xcuserdata/wanghang.xcuserdatad/xcschemes/xcschememanagement.plist
ModooPlayDemo_iOS/ModooPlayDemo_iOS.xcodeproj/xcuserdata/hang.wang.xcuserdatad/xcschemes/xcschememanagement.plist